body{
    margin: 0;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('img/wp5705457-love-4k-desktop-wallpapers.jpg');  
    background-size: cover;  
    padding-bottom: 5%;
}

.flashy-love {
  color: rgb(250, 10, 170);
  font-size: 34px;
  font-weight: 1000;
}

.avatar-container {
    position: relative;
}

.addLove{
  display: none;
  width: 600px;
  font-weight: 800;
  background-color: #e44d96;
  color: white;
  font-size: 17.5px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.error-message{
  display: none;
  width: 600px;
  font-weight: 800;
  background-color: #e44d96;
  color: white;
  font-size: 15px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.add-avatar-circle {
  margin-left: 100px;
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.image-list {
    position: absolute;
    top: -100%;
    left: 10%;
    transform: translateX(-150%);
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image-list img.selected {
  border: 2px solid #e44d96; /* You can customize the border color */
}
.image-list img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.image-lists{
  margin-left: 100px;
  width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}


.input {
    border: none;
    padding: 1.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5;
    transition: 0.6s;
    height: 50px;
    width: 27rem;
    color: red;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: cursive;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }

   .button {
    position: relative;
    width: 10em;
    height: 2em;
    text-align: center;
    font-family: poppins;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f307c8;
    cursor: pointer;
    background-color: rgba(3, 3, 3, .5);
    border: none;
    transition: color .2s linear,
          box-shadow .3s linear,
          background-color .3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .button:focus,
  .button:hover {
    box-shadow: 0 0 110px #f307c8;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(253, 125, 146);
    font-weight: 600;
  }
  
  .button:focus:before,
  .button:hover:before,
  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button:before,
  .button:after {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #fe0abd;
    transition: width, left, 250ms cubic-bezier(0.25, .8, .25, 1);
  }
  
  .button:before {
    top: -2px;
  }
  
  .button:after {
    bottom: -2px;
  }

  .field{
    position: relative;
  }
   .field label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 0.625rem 0.625rem;
    color: #030104;
    background-color: #efe4f7;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-color 250ms;
  }
  .field:focus-within label,
  .field:not(:has(:placeholder-shown))
  label{
    translate: 0.625rem -1rem;
    border-color: #ff00a6;
    background-color: #ff00a6;
    border-radius: 0.4rem;
    font-size: 19px;
    color: white;
  }
  .field ::placeholder {
    color: transparent;
  }

  #mainContainer.result-displayed {
    pointer-events: none; /* Disable interactions with background elements */
    filter: blur(5px); /* Apply a blur effect to the background */
}
#cont.pointer-events-none {
  pointer-events: none;
}
   .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#f434aa, #ff09a9, #f31212);
  }
  
  .cont span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#f434aa, #ff09a9, #f31212);
  }
  
  .cont span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .cont span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .cont span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .cont span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .cont::after {
    content: "â¤";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  

  
  .cards {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 500px;
    height: 235px;
    background-image: linear-gradient(
    rgb(242, 97, 199), 
    purple
  );
  border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
  }
  
  .img {
    font-size: 80px;
    height: 30%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
    left: 40%;
  }

  .texter{
    top: 50%;
    left: 5%;
    font-size: 30px;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
    font-weight: 800;
    font-family: "Dancing Script", cursive;
  }
  
  .textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
  }
  
  .textBox > .text {
    font-weight: bold;
  }
  
  .textBox > .head {
    font-size: 20px;
  }
  
  .textBox > .price {
    font-size: 17px;
  }
  
  .textBox > span {
    font-size: 12px;
    color: lightgrey;
  }

  .cards:hover{
    box-shadow: 20px 20px 60px #ef08bd;
  }
  
  .cards:hover > .textBox {
    opacity: 1;
  }
  
  .cards:hover > .img {
    left: -10%;
    height: 65%;
    filter: blur(10px);
    animation: anim 3s infinite;
  }

  .cards:hover > .texter {
    filter: blur(10px);
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .cards:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 30px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    color: #3498db;
    box-shadow: 0 0 0 2px #3498db;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: #3498db;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  a{
    text-decoration: none;
  }
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #ffffff;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 150px;
    opacity: 1;
  }
  
  /*------------>RESPONSIVENESS<----------*/
/* Responsive styles for larger screens */
@media (min-width: 992px) {
  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }

  .col-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
}

/* Responsive styles for medium-sized screens */
@media (max-width: 991px) {
  .col-lg-6, .col-lg-5 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
      padding: 10px;
  }

  .flashy-love {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Welcome{
    font-size: 10px;
  }
  .welcome2 {
    display: none;
  }
  .addLove{
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
  }
  .error-message{
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 8px;
  }
  .col-lg-6 {
    margin-left: auto;
    margin-right: auto;
}

.avatar-container {
    text-align: center;
}

.add-avatar-circle {
    margin-left: 3%;
    margin-right: auto;
    width: 120px;
    height: 120px;
    font-size: 10px;
}
.image-lists{
  margin-top: 15%;
  margin-left: 69%;
  margin-right: auto;
  width: 100px;
  height: 100px;
}
.avatar2{
  margin-left: 15%;
}
.image-list {
  display: flex;
  transform: translateX(-180%);
  padding: 0;
  margin: 0;
  top: -30%;
  left: 50%;
  background: none;
}
.input{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  box-shadow: none;
}
.field {
    text-align: center;
}
.field:focus-within label,
  .field:not(:has(:placeholder-shown))
  label{
    font-size: 14px;
    margin-top: 5px;
  }
  .cards {
    position: fixed;
    left: 1%;
    width: 300px;
    height: 235px;
    transform: translate(-50%, -50%);
    display: none;
  }
  .field label {
    margin-top: -7px;
  }
}
@media (max-width: 358px){
  .image-list{
    transform: translateX(-250%);
  }
  .cards {
    left: 2%;
    width: 200px;
    height: 270px;
    display: none;
  }
}
::-webkit-scrollbar {
  width: 7px
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #ef08bd;
}